<div class="row p-2">
    <div class="col-3 p-1">
        <div class="border border-primary p-2">
            <edit-marker></edit-marker>
            <create-marker></create-marker>
        </div>
    </div>
    <div class="col-9 p-1">
        <div class="border border-danger p-2">
            <div id="canvas"></div>
        </div>
    </div>
</div>