<html>
    <head>
        <%- include("../head.ejs"); %>
        <script src="https://unpkg.com/konva@8/konva.min.js"></script>
        <link
            href="https://fonts.google.com/specimen/Montserrat"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container-fluid">
            <div class="" id="app">
                <div class="p-2">
                    <div class="alert alert-success">
                        <h1>Tạo vị trí</h1>
                    </div>
                </div>
                <div class="row p-2 h-75">
                    <div class="col-3 p-1">
                        <div class="border border-primary p-2">
                            <edit-marker></edit-marker>
                            <create-marker></create-marker>
                        </div>
                    </div>
                    <div class="col-9 p-1">
                        <div class="border border-danger p-2 h-100" id="stage">
                            <div id="canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/font.js"></script>
        <script src="/inputQuery.js"></script>
        <script src="/inputComponent.js"></script>
        <script src="/ViewMap.js"></script>
        <script src="/input/marker.js"></script>
    </body>
</html>