<html>
    <head>
        <%- include("head.ejs"); %>
        <script src="/inputQuery.js"></script>
        <script src="https://unpkg.com/konva@8/konva.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,600;1,700&display=swap" rel="stylesheet">
        <script src="/Select.js"></script>
    </head>
    <body class="">
        <%- include("map/index.ejs"); %>
    </body>
</html>