<html>
    <head>
        <%- include("head.ejs"); %>
        <script src="/inputQuery.js"></script>
        <script src="https://unpkg.com/konva@8/konva.min.js"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="">
        <%- include("map/index.ejs"); %>
    </body>
</html>