<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/konva@8.3.5/konva.min.js"></script>
    <meta charset="utf-8" />
    <title>Konva Custom font loading Demo</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #f0f0f0;
      }
    </style>

    <!-- CUSTOM FONT STYLES -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="container"></div>
    <script>
      var width = window.innerWidth;
      var height = window.innerHeight;

      var stage = new Konva.Stage({
        container: 'container',
        width: 400,
        height: 800,
      });

      var layer = new Konva.Layer();
      stage.add(layer);
      var rect = new Konva.Rect({
        width: 100, 
        height: 200,
        fill: "#fff",
        stroke: 'black',
        strokeWidth: 1,
        x: 10,
        y: 10, 
        draggable: true,
      });
      layer.add(rect);
      var layer2 = new Konva.Layer();
      stage.add(layer2);

      function outLayer(pos, pLayer){
        return {
          x: pos.x*pLayer.scaleX() + pLayer.x(),
          y: pos.y*pLayer.scaleY() + pLayer.y(),
        }
      }
      function inLayer(pos, layer){
        return {
          x: (pos.x - layer.x())/layer.scaleX(),
          y: (pos.y - layer.y())/layer.scaleY()
        }
      }
    </script>
  </body>
</html>