<html>
    <head>
        <%- include("head.ejs"); %>
        <script src="/inputQuery.js"></script>
        <script src="https://unpkg.com/konva@8/konva.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="/List.js"></script>
        <script src="/Select.js"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="">
        <div>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
        </div>
        <div id="canvas">
            <div>
                <iframe
                    width="600"
                    height="480"
                    src="http://192.168.10.126:3000"
                >
                </iframe>
            </div>
        </div>
        <div>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
            <h1>Hello World</h1>
        </div>
        <script src="/external.js">
            
        </script>
    </body>
</html>